:root {
    --primary-color: #AC5859;
    --secondary-color: #fff;
}
body {
    background-color: var(--secondary-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px;
    text-align: center;
    }

.page-header__item {
    width: 20%;
    height: fit-content;
}

.pokemon-list {
    list-style-type: none;
    display: inline;
}

.button-class {
    color: (var(--primary-color));
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    line-height: 2px;
    padding: 10px;
    margin: 10px 0px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px var(--primary-color);
    border-color: var(--primary-color);
}

#modal-container {
    display: none;
  }

  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ac585a82;
    text-transform: capitalize;
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }

  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: var(--secondary-color);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
  }

  .modal h1 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }



    