:root {
    --primary-color: #AC5859;
    --secondary-color: #fff;
    --light-grey: #d3d3d3;
}

.navbar {
  border-bottom: 1px solid var(--light-grey);
}

.btn-warning {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-warning:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px black;
}

.btn-warning:active {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.btn-warning:focus, .pokemon-button:focus, .pokemon-button:active, .form-control:focus, .form-control:active {
  box-shadow: none !important;
}

.form-control, .form-control:active, .form-control:focus {
  border: solid 1px var(--primary-color) !important;
}

body {
    background-color: var(--secondary-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    padding: 10px;
    text-align: center;
    }

.page-header__item {
    width: 10%;
    height: fit-content;
}

.pokemon-list {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
}

.pokemon-button {
    color: (var(--secondary-color));
    display: inline-block;
    text-transform: lowercase;
    text-align: center;
    line-height: 2px;
    padding: 10px;
    margin: 10px 10px;
    width: 300px;
    height: 40px;
    font-size: 18px;
    background: var(--light-grey);
    border-radius: 10px;
    border: none;
}

.pokemon-button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--secondary-color);
}

.pokemon-button:active {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.pokemon-img {
  width: fit-content;
}

.modal-dialog {
  border: solid 1px var(--primary-color);
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  box-shadow: none !important;
}








    